

  body{font-family: 'Noto Sans', sans-serif;
    .bg-lav{
        background: $bglav;
        
      }
}
 h1{
  text-align: center;
  justify-content: center;
  background: grey;
 }  


  






/*Footer*/
  footer {
    width: map-get($map: $medidas, $key: ancho );
    background:  red ;
    height: 100px
    margin-top 0px;
    display: flex;
    justify-content: center;
    .maqui {
        margin-top: 30px;
        .redes {
            display: inline-block;
            .bi-facebook {
               @include redessociales(#3b5998);
                .bi-whatsapp {
                @include redessociales(#25D366);
                .bi-instagram {
                @include redessociales(#8a3ab9);
                                  }
                              }
                          }
                      }
                    }
                }     